.imagenesProductos{
    width: auto;
    height: 250px;
    margin: 20px;
    
}

.card {
min-height: 560px !important;

}

.text-info {
color: #1DBCA9 !important;
}

.btn-primary {
    background-color: #1DBCA9 !important;
    border: none;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 0em;	
    }

    