.widget {
    /*background-color: red;
    border-radius: 50%;
    color: white;*/
    text-decoration: none;
    position: absolute;
    margin-top: -10px;
    display: block;
    min-width: 1.6em;
    height: 1.6em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    background-color: #d9534f;
    text-align: center;
    font-size: 10px;
    margin-left: 15px;
    margin-top: -10px;
}

@media only screen and (min-width: 900px) {

.carrito {
    margin-left: 20px;
}

}