.image{
   width: 50px;   
}
.actives{
   color: #1DBCA9 !important;
   
}
.activesDropdown{
   background-color: rgb(233, 230, 230);
   
}
.activesDropdown2:hover{
   background-color: rgb(206, 206, 206);
   
}
.claseActiva {
   color: #1DBCA9;
   margin: 30px;
 }
 
 .claseInactiva {
   color: #282c34;
   margin: 30px;
 }

 .navbar-light {
   background-color: #fff !important;
 }

 .bg-light {
   background-color: #fff !important;
 }
